* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #343a40;
  --violet-color: #7048e8;
  --dark-violet-color: #5f3dc4;
  --light-grey-color: #e9ecef;
  --mid-grey-color: #adb5db;
  --pink-color: #d6336c;
}

body {
  font-family: sans-serif;
  color: var(--text-color);
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
  padding-top: 24px;
}

nav {
  background-color: var(--text-color);
  color: white;

  grid-row: 1 / -1;
}

menu {
  background-color: var(--violet-color);
  grid-column: 2 / -1;

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}

button {
  font-size: 16px;
  font-weight: bold;
  background-color: var(--dark-violet-color);
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 12px;

  display: inline-block;
}

button:last-child {
  background-color: var(--pink-color);
  margin-left: auto;
}

section {
  background-color: var(--light-grey-color);
  padding: 40px;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.email {
  background-color: var(--mid-grey-color);
  height: 96px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

aside {
  background-color: var(--light-grey-color);
}
