body {
  font-family: sans-serif;
  border: solid black 3px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
}

a:link {
  color: black;
}

a:visited {
}

a:hover {
}

a:active {
}

h3 {
  text-transform: uppercase;
}

ul {
  list-style: square;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
