* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

article {
  border: solid black 3px;
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.sale {
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: red;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: absolute;
  top: -35px;
  left: -50px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  background-color: lightgray;
  padding: 20px;
}

p,
h3,
ul,
li,
a {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
}

.cost {
  margin-bottom: 0;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.colors {
}

.color-black,
.color-blue,
.color-red,
.color-yellow,
.color-green,
.color-brown {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

a:link {
  color: black;
}

a:visited {
}

a:hover {
}

a:active {
}

h3 {
  text-transform: uppercase;
}

ul {
  list-style: square;
  margin: 0 25px;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  border-top: solid black 3px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

button:hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
  border: none;
  border-top: solid black 3px;
  cursor: pointer;
}
