* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  position: relative; /* For sale box. */
  width: 80%;

  /* For grid challenge. */
  display: grid;
  column-gap: 40px;
  grid-template-columns: 250px 1fr 1fr;
}

.sale {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  background-color: red;
  padding: 6px 12px;
  position: absolute;
  top: -16px;
  left: -34px;
}

h1 {
  background-color: lightgray;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  /* For grid challenge. */
  grid-column: 1 / -1;
}

/*
.divisions {
  display: flex;
  gap: 10px;
}
*/

.product-image {
  /* For grid challenge. */
  grid-column: 1 / 2;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 15px;

  /* For grid challenge. */
  grid-column: 2 / 3;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping {
  font-size: 0.7em;
  text-transform: uppercase;
  color: grey;
}

.more-info {
  color: black;
}

.colors {
  display: flex;
  gap: 10px;
}

.color-black {
  width: 16px;
  height: 16px;
  background-color: black;
}

.color-blue {
  width: 16px;
  height: 16px;
  background-color: blue;
}

.color-red {
  width: 16px;
  height: 16px;
  background-color: red;
}

.color-yellow {
  width: 16px;
  height: 16px;
  background-color: yellow;
}

.color-green {
  width: 16px;
  height: 16px;
  background-color: green;
}

.color-brown {
  width: 16px;
  height: 16px;
  background-color: brown;
}

.product-details {
  /* For grid challenge. */
  grid-column: 3 / 4;
}

ul {
  list-style: square;
}

li {
  margin-left: 15px;
}

button {
  color: white;
  background-color: black;
  border-top: 3px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  cursor: pointer;

  /* For grid challenge. */
  grid-column: 1 / -1;
}

button:hover {
  color: black;
  background-color: white;
  border-top: 3px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
